openapi: 3.0.3
info:
  title: Weixin
  description: 微信平台接口定义（仅用于生成client代码）
  version: 1.0.0
  contact:
    name: sfy
servers:
  - url: https://api.weixin.qq.com
    description: prod
paths:
  /cgi-bin/message/subscribe/send:
    post:
      summary: 发送订阅消息
      operationId: send-subscribe-message
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommonRes"
      tags:
        - Weixin
      description: 发送订阅消息
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendSubscribeMessageReq"
      parameters:
        - $ref: "#/components/parameters/access_token"
  /cgi-bin/stable_token:
    get:
      summary: 获取稳定版接口调用凭据appToken
      tags:
        - Weixin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAppTokenRes"
      operationId: get-appToken
      description: >-
        接口英文名：getStableAccessToken。

        本接口用于获取获取全局唯一后台接口调用凭据（Access Token），token 有效期为 7200 秒，但此接口和
        getAccessToken 互相隔离，且比其更加稳定，推荐使用此接口替代
      parameters:
        - schema:
            type: string
          in: query
          name: grant_type
          description: 填写client_credential
          required: true
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/secret"
        - schema:
            type: boolean
          in: query
          name: force_refresh
          description: 默认使用 false。1. force_refresh = false 时为普通调用模式，access_token
            有效期内重复调用该接口不会更新 access_token；2. 当force_refresh = true
            时为强制刷新模式，会导致上次获取的 access_token 失效，并返回新的 access_token
    parameters: []
  /cgi-bin/ticket/getticket:
    get:
      summary: 根据appToken获取ticket
      tags:
        - Weixin
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTicketRes"
      operationId: get-ticket
      description: 根据appToken获取ticket
      parameters:
        - $ref: "#/components/parameters/access_token"
        - schema:
            type: string
          in: query
          name: type
          description: ticket类型，小程序传jsapi，卡卷和发票接口传wx_card
          required: true
  /sns/jscode2session:
    get:
      summary: 获取小程序用户sessionKey和openid
      tags:
        - Weixin
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetMpSessionKeyRes"
      operationId: get-mp-sessionKey
      parameters:
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/secret"
        - schema:
            type: string
          in: query
          name: js_code
          description: 小程序登录得到的code
          required: true
        - schema:
            type: string
          in: query
          name: grant_type
          description: 授权类型，填authorization_code
          required: true
      description: 注意：此接口contentType为text/plain，调用方若为spring
        feign体系，需要自定义一个类用于反序列化（继承AbstractJackson2HttpMessageConverter并覆写supports接口）
  /sns/oauth2/access_token:
    parameters: []
    get:
      summary: 获取公众号用户token和openid
      operationId: get-gzhToken
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/GetGzhTokenRes"
      description: 注意：此接口contentType为text/plain，调用方若为spring
        feign体系，需要自定义一个类用于反序列化（继承AbstractJackson2HttpMessageConverter并覆写supports接口）
      tags:
        - Weixin
      parameters:
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/secret"
        - schema:
            type: string
          in: query
          name: code
          description: 公众号登陆时得到的code
          required: true
  /wxa/business/getuserphonenumber:
    post:
      summary: 获取手机号
      operationId: get-phone
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPhoneRes"
      tags:
        - Weixin
      description: 新版获取手机号接口
      parameters:
        - $ref: "#/components/parameters/access_token"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetPhoneReq"
tags:
  - name: Weixin
components:
  schemas:
    CommonRes:
      title: CommonRes
      x-stoplight:
        id: bgsvlws3hpyk6
      type: object
      properties:
        errcode:
          type: integer
          description: 错误码
        errmsg:
          type: string
          description: 错误描述
    GetAppTokenRes:
      title: GetAppTokenRes
      x-stoplight:
        id: j4zioqr8qa4gh
      allOf:
        - type: object
          properties:
            access_token:
              type: string
            expires_in:
              type: integer
              description: 有效时间（秒）
        - $ref: "#/components/schemas/CommonRes"
    GetGzhTokenRes:
      title: GetUserTokenRes
      x-stoplight:
        id: ohb74rd3n3wh8
      allOf:
        - $ref: "#/components/schemas/CommonRes"
        - type: object
          properties:
            access_token:
              type: string
            expires_in:
              type: integer
              description: 过期时间，单位秒
            refresh_token:
              type: string
            openid:
              type: string
            scope:
              type: string
    GetMpSessionKeyRes:
      title: GetMpSessionKeyRes
      x-stoplight:
        id: g3jqvnnyhoz6s
      description: ""
      allOf:
        - type: object
          properties:
            session_key:
              type: string
              description: 会话密钥（可用于获取用户手机号等操作）
            openid:
              type: string
              description: （小程序）用户唯一标识
            unionid:
              type: string
              description: 用户在开放平台的唯一标识符，若当前小程序已绑定到微信开放平台帐号下会返回
        - $ref: "#/components/schemas/CommonRes"
    GetPhoneReq:
      title: GetPhoneReq
      x-stoplight:
        id: 3gkcpemwd0ydr
      type: object
      properties:
        code:
          type: string
          description: 获取手机号专用的一次性code
      required:
        - code
    GetPhoneRes:
      title: GetPhoneRes
      x-stoplight:
        id: 6f7md0esio52i
      allOf:
        - type: object
          properties:
            phoneNumber:
              type: string
              description: 用户绑定的手机号（国外手机号会有区号）
            purePhoneNumber:
              type: string
              description: 没有区号的手机号
            countryCode:
              type: string
              description: 区号
        - $ref: "#/components/schemas/CommonRes"
    GetTicketRes:
      title: GetTicketRes
      x-stoplight:
        id: guvrru59lkbkl
      allOf:
        - $ref: "#/components/schemas/CommonRes"
        - type: object
          properties:
            ticket:
              type: string
              description: ticket值
            expires_in:
              type: integer
              description: ticket有效时长，一般为7200秒
    SendSubscribeMessageReq:
      title: SendSubscribeMessageReq
      x-stoplight:
        id: xj9es3r9y97sv
      type: object
      properties:
        template_id:
          type: string
          x-stoplight:
            id: bev2nym68wiew
          description: 所需下发的订阅模板id
        page:
          type: string
          x-stoplight:
            id: d7eypgf2km71v
          description: 点击模板卡片后的跳转页面，仅限本小程序内的页面。支持带参数,（示例index?foo=bar）。该字段不填则模板无跳转
        touser:
          type: string
          x-stoplight:
            id: xm6ce78aon952
          description: 接收者（用户）的 openid
        data:
          type: object
          x-stoplight:
            id: rlyyzvv2xz6xw
          description: |-
            模板内容，格式形如{
                    "phrase3": {
                        "value": "审核通过"
                    },
                    "name1": {
                        "value": "订阅"
                    },
                    "date2": {
                        "value": "2019-12-25 09:42"
                    }
                }
        miniprogram_state:
          type: string
          x-stoplight:
            id: 0acj0f4f26f0w
          description: 跳转小程序类型：developer为开发版；trial为体验版；formal为正式版；默认为正式版
        lang:
          type: string
          x-stoplight:
            id: qm9sw2x5cr2zu
          description: 进入小程序查看”的语言类型，支持zh_CN(简体中文)、en_US(英文)、zh_HK(繁体中文)、zh_TW(繁体中文)，默认为zh_CN
      required:
        - template_id
        - touser
        - data
  parameters:
    access_token:
      name: access_token
      in: query
      required: true
      schema:
        type: string
      description: appToken
    appid:
      name: appid
      in: query
      required: true
      schema:
        type: string
      description: appid
    secret:
      name: secret
      in: query
      required: true
      schema:
        type: string
      description: 密钥
