openapi: 3.0.3
info:
  title: Weixin
  description: Weixin
  version: 1.0.0
  contact:
    name: sfy
servers:
  - url: 'https://api.weixin.qq.com'
    description: prod
paths:
  /cgi-bin/ticket/getticket:
    get:
      summary: 根据appToken获取ticket
      tags:
        - Weixin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTicketRes'
      operationId: get-ticket
      description: 根据appToken获取ticket
      parameters:
        - schema:
            type: string
          in: query
          name: access_token
          description: appToken
          required: true
        - schema:
            type: string
          in: query
          name: type
          description: ticket类型，小程序传jsapi，卡卷和发票接口传wx_card
          required: true
  /cgi-bin/token:
    get:
      summary: 获取appToken
      tags:
        - Weixin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppTokenRes'
      operationId: get-appToken
      description: appToken为全局token，仅用于服务端调用平台接口。每个用户单独的token使用get-userToken获取
      parameters:
        - schema:
            type: string
          in: query
          name: grant_type
          description: 填写client_credential
          required: true
        - schema:
            type: string
          in: query
          name: appid
          description: appid
          required: true
        - schema:
            type: string
          in: query
          name: secret
          description: 密钥
          required: true
    parameters: []
  /sns/jscode2session:
    get:
      summary: 获取小程序用户sessionKey和openid
      tags:
        - Weixin
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetMpSessionKeyRes'
      operationId: get-mp-sessionKey
      parameters:
        - schema:
            type: string
          in: query
          name: appid
          description: 小程序id
          required: true
        - schema:
            type: string
          in: query
          name: secret
          description: 小程序密钥
          required: true
        - schema:
            type: string
          in: query
          name: js_code
          description: 小程序登录得到的code
          required: true
        - schema:
            type: string
          in: query
          name: grant_type
          description: 授权类型，填authorization_code
          required: true
      description: 注意：此接口contentType为text/plain，调用方若为spring feign体系，需要自定义一个类用于反序列化（继承AbstractJackson2HttpMessageConverter并覆写supports接口）
  /sns/oauth2/access_token:
    parameters: []
    get:
      summary: 获取公众号用户token和openid
      operationId: get-gzhToken
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetGzhTokenRes'
      description: 注意：此接口contentType为text/plain，调用方若为spring feign体系，需要自定义一个类用于反序列化（继承AbstractJackson2HttpMessageConverter并覆写supports接口）
      tags:
        - Weixin
      parameters:
        - schema:
            type: string
          in: query
          name: appid
          required: true
          description: 微信公众号appid
        - schema:
            type: string
          in: query
          name: secret
          description: 私钥
          required: true
        - schema:
            type: string
          in: query
          name: code
          description: 公众号登陆时得到的code
          required: true
tags:
  - name: Weixin
components:
  schemas:
    CommonRes:
      title: CommonRes
      x-stoplight:
        id: bgsvlws3hpyk6
      type: object
      properties:
        errcode:
          type: integer
          description: 错误码
        errmsg:
          type: string
          description: 错误描述
    GetAppTokenRes:
      title: GetAppTokenRes
      x-stoplight:
        id: j4zioqr8qa4gh
      allOf:
        - type: object
          properties:
            access_token:
              type: string
            expires_in:
              type: integer
              description: 有效时间（秒）
        - $ref: '#/components/schemas/CommonRes'
    GetGzhTokenRes:
      title: GetUserTokenRes
      x-stoplight:
        id: ohb74rd3n3wh8
      allOf:
        - $ref: '#/components/schemas/CommonRes'
        - type: object
          properties:
            access_token:
              type: string
            expires_in:
              type: integer
              description: 过期时间，单位秒
            refresh_token:
              type: string
            openid:
              type: string
            scope:
              type: string
    GetMpSessionKeyRes:
      title: GetMpSessionKeyRes
      x-stoplight:
        id: g3jqvnnyhoz6s
      description: ''
      allOf:
        - type: object
          properties:
            session_key:
              type: string
              description: 会话密钥（可用于获取用户手机号等操作）
            openid:
              type: string
              description: （小程序）用户唯一标识
            unionid:
              type: string
              description: 用户在开放平台的唯一标识符，若当前小程序已绑定到微信开放平台帐号下会返回
        - $ref: '#/components/schemas/CommonRes'
    GetTicketRes:
      title: GetTicketRes
      x-stoplight:
        id: guvrru59lkbkl
      allOf:
        - $ref: '#/components/schemas/CommonRes'
        - type: object
          properties:
            ticket:
              type: string
              description: ticket值
            expires_in:
              type: integer
              description: ticket有效时长，一般为7200秒
